In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import datasets
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [8]:
df=pd.read_csv('Issued_Construction_Permits.csv')

/home/scott/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (25,29,30,31,32,33,34,35,36,38,53,54,56,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
ls

Construction_Permits_Issued_in_the_last_30_days.csv
Issued_Construction_Permits.csv

In [9]:
dfa=df[df['TotalNewAddSQFT']>0]
iris=dfa[['OriginalZip','Longitude','Latitude','TotalNewAddSQFT', 'TotalJobValuation','NumberOfFloors']]
iris['TotalJobValuation']=iris['TotalJobValuation'].str.lstrip('$')
iris.fillna(value=0)
iris['TotalJobValuation']=iris['TotalJobValuation'].astype(float)
iris.dropna(inplace=True)

/home/scott/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/scott/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/scott/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
#dfa['TotalJobValuation']=dfa['TotalJobValuation'].str.lstrip('$')
#dfa.fillna(value=0)
#dfa['TotalJobValuation']=dfa['TotalJobValuation'].astype(float)
#dfa.dropna(inplace=True)

In [11]:
dfa.groupby(['IssuedDate']).mean()

,CalendarYearIssued,FiscalYearIssued,TotalExistingBldgSQFT,RemodelRepairSQFT,TotalNewAddSQFT,NumberOfFloors,HousingUnits,MedGasValuation,OriginalZip,CouncilDistrict,ProjectID,MasterPermitNum,Latitude,Longitude
IssuedDate,,,,,,,,,,,,,,
1980/10/24,1980.0,1981.0,NaN,NaN,538.000000,NaN,1.000000,NaN,78731.000000,10.000000,3.163462e+06,5.039610e+05,30.363544,-97.751197
1980/11/10,1980.0,1981.0,NaN,NaN,477.500000,NaN,1.000000,NaN,78757.500000,5.500000,4.063122e+06,5.043155e+05,30.357418,-97.723527
1980/12/19,1980.0,1981.0,0.000000,NaN,404.000000,1.000000,1.000000,NaN,78704.000000,3.000000,3.164994e+06,5.051000e+05,30.240597,-97.765045
1981/01/09,1981.0,1981.0,NaN,NaN,542.000000,NaN,NaN,NaN,78746.000000,NaN,3.911666e+06,3.165418e+06,30.274772,-97.792360
1981/04/29,1981.0,1981.0,NaN,NaN,600.000000,NaN,1.000000,NaN,78704.000000,5.000000,1.838422e+06,5.080700e+05,30.257913,-97.779237
1981/06/02,1981.0,1981.0,NaN,NaN,785.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.068597e+06,5.088770e+05,30.385413,-97.753835
1981/07/27,1981.0,1981.0,NaN,NaN,590.000000,0.000000,1.000000,NaN,78727.000000,6.000000,3.171525e+06,5.102850e+05,30.422401,-97.737411
1982/01/27,1982.0,1982.0,NaN,NaN,45.000000,0.000000,1.000000,NaN,78746.000000,8.000000,4.074724e+06,5.139520e+05,30.261741,-97.804730
1983/02/07,1983.0,1983.0,NaN,NaN,448.000000,0.000000,0.000000,NaN,78704.000000,5.000000,3.189277e+06,5.231730e+05,30.248911,-97.795258
1983/02/25,1983.0,1983.0,NaN,NaN,428.000000,NaN,1.000000,NaN,78753.000000,4.000000,4.088643e+06,5.236480e+05,30.350110,-97.691281
1983/03/11,1983.0,1983.0,NaN,NaN,250.000000,NaN,1.000000,NaN,78750.000000,10.000000,4.089247e+06,5.240400e+05,30.376453,-97.789823
1983/08/30,1983.0,1983.0,NaN,NaN,312.000000,NaN,1.000000,NaN,78736.000000,8.000000,4.096765e+06,5.288390e+05,30.244777,-97.892368
1983/10/18,1983.0,1984.0,NaN,NaN,450.000000,NaN,1.000000,NaN,78746.000000,8.000000,4.098846e+06,5.302860e+05,30.263965,-97.800071
1983/11/02,1983.0,1984.0,NaN,NaN,543.000000,NaN,1.000000,NaN,78745.000000,3.500000,4.099560e+06,5.308605e+05,30.193802,-97.803804
1983/11/28,1983.0,1984.0,NaN,NaN,715.000000,NaN,1.000000,NaN,78749.000000,8.000000,4.100575e+06,5.316210e+05,30.221682,-97.845134
1984/01/18,1984.0,1984.0,NaN,NaN,450.000000,NaN,1.000000,NaN,NaN,NaN,4.102377e+06,5.330560e+05,NaN,NaN
1984/03/01,1984.0,1984.0,NaN,NaN,755.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.104322e+06,5.345980e+05,30.381111,-97.755704
1984/03/23,1984.0,1984.0,NaN,NaN,704.000000,NaN,1.000000,NaN,78731.000000,10.000000,4.105443e+06,5.354560e+05,30.348518,-97.766507
1984/04/17,1984.0,1984.0,NaN,NaN,390.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.106780e+06,5.364190e+05,30.420726,-97.761969
1984/05/07,1984.0,1984.0,NaN,NaN,384.000000,1.000000,1.000000,NaN,78759.000000,10.000000,3.209175e+06,5.372180e+05,30.396967,-97.760658
1984/05/08,1984.0,1984.0,NaN,NaN,503.000000,0.000000,1.000000,NaN,78753.000000,4.000000,3.209250e+06,5.372600e+05,30.348009,-97.688510
1984/05/09,1984.0,1984.0,NaN,NaN,460.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.108026e+06,5.373300e+05,30.416977,-97.763342
1984/05/11,1984.0,1984.0,NaN,NaN,420.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.108192e+06,5.374590e+05,30.392924,-97.759839
1984/06/14,1984.0,1984.0,NaN,NaN,544.000000,NaN,1.000000,NaN,78746.000000,8.000000,4.110200e+06,5.389730e+05,30.264216,-97.799687
1984/07/18,1984.0,1984.0,NaN,NaN,445.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.112026e+06,5.402510e+05,30.429220,-97.777703
1984/07/26,1984.0,1984.0,NaN,NaN,547.000000,NaN,1.000000,NaN,78746.000000,8.000000,4.112444e+06,5.405660e+05,30.262210,-97.804239
1984/09/13,1984.0,1984.0,NaN,NaN,375.000000,NaN,1.000000,NaN,78745.000000,5.000000,4.115068e+06,5.424850e+05,30.215727,-97.803809
1984/09/18,1984.0,1984.0,0.000000,NaN,810.000000,1.000000,1.000000,NaN,78758.000000,4.000000,4.114950e+06,5.424180e+05,30.368404,-97.712256
1984/10/15,1984.0,1985.0,NaN,NaN,550.000000,NaN,1.000000,NaN,78759.000000,10.000000,4.116671e+06,5.436160e+05,30.408021,-97.765516
1984/11/14,1984.0,1985.0,NaN,NaN,484.000000,1.000000,1.000000,NaN,78741.000000,3.000000,3.218631e+06,5.446010e+05,30.230884,-97.702385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017/12/19,2017.0,2018.0,2223.166667,532.166667,2122.750000,1.600000,0.975000,NaN,78723.350000,5.743590,1.181417e+07,1.180725e+07,30.286419,-97.747392
2017/12/20,2017.0,2018.0,2571.000000,2865.500000,7354.000000,2.136364,0.954545,NaN,78724.272727,4.812500,1.179400e+07,1.177914e+07,30.290314,-97.749236
2017/12/21,2017.0,2018.0,2853.700000,508.777778,2389.450450,1.612613,0.981982,NaN,78725.639640,4.762376,1.181483e+07,1.179847e+07,30.296368,-97.752184
2017/12/22,2017.0,2018.0,1583.000000,1081.666667,2724.265957,1.569892,1.053763,NaN,78725.563830,3.826667,1.181589e+07,1.179403e+07,30.266838,-97.716686
2017/12/23,2017.0,2018.0,0.000000,1300.000000,1000.666667,1.000000,1.000000,NaN,78703.000000,5.000000,1.180365e+07,1.180363e+07,30.276262,-97.705802
2017/12/24,2017.0,2018.0,1693.000000,NaN,588.000000,1.000000,1.000000,NaN,78752.000000,4.000000,1.177504e+07,1.177504e+07,30.337079,-97.713320
2017/12/25,2017.0,2018.0,NaN,NaN,2253.000000,2.000000,1.000000,NaN,78702.000000,1.000000,1.173596e+07,1.173594e+07,30.274680,-97.729140
2017/12/26,2017.0,2018.0,2089.500000,0.000000,1850.666667,1.583333,1.000000,NaN,78724.333333,3.333333,1.176406e+07,1.176403e+07,30.288854,-97.705302
2017/12/27,2017.0,2018.0,2793.000000,1906.333333,3131.623932,1.717949,1.034188,NaN,78728.846154,4.345133,1.180159e+07,1.179932e+07,30.285453,-97.752765
2017/12/28,2017.0,2018.0,2591.571429,420.285714,5994.637363,1.659341,4.329670,NaN,78725.912088,5.104478,1.181021e+07,1.179162e+07,30.252968,-97.753109
2017/12/29,2017.0,2018.0,1781.250000,723.666667,2481.785714,1.369048,0.809524,NaN,78723.595238,4.787879,1.181012e+07,1.179459e+07,30.260668,-97.731966
2018/01/02,2018.0,2018.0,1782.625000,727.076923,3852.864865,1.493151,2.452055,NaN,78728.054054,5.449275,1.181634e+07,1.180547e+07,30.279016,-97.739159
2018/01/03,2018.0,2018.0,2723.800000,622.777778,8176.054348,1.804348,5.945652,NaN,78729.565217,4.597561,1.181506e+07,1.180072e+07,30.276717,-97.724068
2018/01/04,2018.0,2018.0,2574.428571,1190.500000,8904.839080,1.954023,5.275862,NaN,78728.241379,5.268293,1.176669e+07,1.175332e+07,30.280494,-97.732690
2018/01/05,2018.0,2018.0,1608.200000,493.400000,4364.085714,1.657143,2.828571,NaN,78722.619048,5.010204,1.180624e+07,1.178502e+07,30.287142,-97.737344
2018/01/07,2018.0,2018.0,3115.000000,250.000000,262.500000,0.500000,1.000000,NaN,78717.000000,9.500000,1.181396e+07,1.181395e+07,30.303135,-97.755339
2018/01/08,2018.0,2018.0,2955.666667,1195.545455,5977.326733,1.752475,4.099010,NaN,78722.683168,4.408163,1.180017e+07,1.178833e+07,30.283530,-97.742129
2018/01/09,2018.0,2018.0,2804.285714,1544.000000,7351.604396,2.230769,4.472527,NaN,78727.725275,4.558140,1.180516e+07,1.180073e+07,30.265949,-97.745740
2018/01/10,2018.0,2018.0,2366.285714,956.888889,8244.449761,1.674641,3.492823,NaN,78698.277512,5.427083,1.181536e+07,1.178276e+07,30.304418,-97.714593
2018/01/11,2018.0,2018.0,2240.153846,1088.545455,3791.575758,1.656489,1.145038,NaN,78724.098485,5.243902,1.176794e+07,1.171684e+07,30.300156,-97.743982
2018/01/12,2018.0,2018.0,3900.000000,661.500000,3303.000000,1.552632,1.026316,NaN,78721.434211,5.202703,1.181238e+07,1.179613e+07,30.271331,-97.751857
2018/01/14,2018.0,2018.0,1938.000000,NaN,934.000000,1.500000,1.000000,NaN,78715.500000,8.000000,1.179515e+07,1.179514e+07,30.335514,-97.736074
2018/01/15,2018.0,2018.0,1717.000000,1378.500000,2600.612903,1.645161,1.064516,NaN,78721.903226,3.903226,1.178138e+07,1.178137e+07,30.267655,-97.735570
2018/01/16,2018.0,2018.0,1882.000000,1769.000000,1242.250000,1.750000,1.000000,NaN,78725.500000,5.750000,1.181468e+07,1.181467e+07,30.292836,-97.715386
2018/01/17,2018.0,2018.0,2112.100000,491.800000,6730.521739,2.021739,13.706522,NaN,78726.478261,4.230769,1.180773e+07,1.179976e+07,30.286583,-97.747013
2018/01/18,2018.0,2018.0,1987.571429,1908.800000,4174.255319,1.475177,0.943262,NaN,78731.829787,5.270000,1.183119e+07,1.181763e+07,30.318299,-97.723423
2018/01/19,2018.0,2018.0,2428.800000,580.555556,1992.556818,1.613636,0.965909,NaN,78726.613636,5.540230,1.182636e+07,1.182069e+07,30.274555,-97.747640
2018/01/20,2018.0,2018.0,1405.000000,NaN,2066.368421,0.421053,0.315789,NaN,78725.368421,4.500000,1.184569e+07,1.182795e+07,30.220260,-97.667586
2018/01/21,2018.0,2018.0,2730.000000,2116.000000,2606.888889,1.555556,1.666667,NaN,78726.222222,4.750000,1.183743e+07,1.183269e+07,30.249842,-97.755967
2018/01/22,2018.0,2018.0,2337.444444,1572.125000,3781.101852,1.611111,2.583333,NaN,78723.148148,4.912621,1.180719e+07,1.179568e+07,30.299389,-97.721390

In [10]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241714 entries, 47 to 1812268
Data columns (total 66 columns):
PermitType                    241714 non-null object
PermitTypeDesc                241714 non-null object
PermitNum                     241714 non-null object
PermitClassMapped             241714 non-null object
PermitClass                   241713 non-null object
WorkClass                     241714 non-null object
Condominium                   241714 non-null object
ProjectName                   241646 non-null object
Description                   241708 non-null object
TCAD_ID                       241140 non-null object
PropertyLegalDescription      206033 non-null object
AppliedDate                   241714 non-null object
IssuedDate                    241714 non-null object
DayIssued                     241714 non-null object
CalendarYearIssued            241714 non-null int64
FiscalYearIssued              241714 non-null int64
IssuedInLast30Days            241714 non-null object
IssuanceMethod                241714 non-null object
StatusCurrent                 241714 non-null object
StatusDate                    241714 non-null object
ExpiresDate                   241714 non-null object
CompletedDate                 204648 non-null object
TotalExistingBldgSQFT         21128 non-null float64
RemodelRepairSQFT             688 non-null float64
TotalNewAddSQFT               241714 non-null float64
TotalValuationRemodel         7996 non-null object
TotalJobValuation             91490 non-null object
NumberOfFloors                232491 non-null float64
HousingUnits                  228911 non-null float64
BuildingValuation             12091 non-null object
BuildingValuationRemodel      8175 non-null object
ElectricalValuation           22059 non-null object
ElectricalValuationRemodel    14673 non-null object
MechanicalValuation           17972 non-null object
MechanicalValuationRemodel    13293 non-null object
PlumbingValuation             18879 non-null object
PlumbingValuationRemodel      14423 non-null object
MedGasValuation               0 non-null float64
MedGasValuationRemodel        2585 non-null object
OriginalAddress1              241708 non-null object
OriginalCity                  241706 non-null object
OriginalState                 241705 non-null object
OriginalZip                   241705 non-null float64
CouncilDistrict               227611 non-null float64
Jurisdiction                  241709 non-null object
Link                          241714 non-null object
ProjectID                     241714 non-null int64
MasterPermitNum               224884 non-null float64
Latitude                      241694 non-null float64
Longitude                     241694 non-null float64
Location                      241694 non-null object
ContractorTrade               240040 non-null object
ContractorCompanyName         218185 non-null object
ContractorFullName            178717 non-null object
ContractorPhone               238969 non-null object
ContractorAddress1            186220 non-null object
ContractorAddress2            227860 non-null object
ContractorCity                237250 non-null object
ContractorZip                 234632 non-null object
ApplicantFullName             18817 non-null object
ApplicantOrganization         43059 non-null object
ApplicantPhone                48136 non-null object
ApplicantAddress1             32732 non-null object
ApplicantAddress2             46696 non-null object
ApplicantCity                 48243 non-null object
ApplicantZip                  47067 non-null object
dtypes: float64(11), int64(3), object(52)
memory usage: 123.6+ MB

In [20]:
y=iris['TotalNewAddSQFT']
#y=y.iloc[1:]
x=iris.drop(labels='TotalNewAddSQFT',axis=1)
#x=x.iloc[0:-1]
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=28)
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

0.71872407380781889

In [ ]:
dfa.drop(['IssuedInLast30Days','IssuanceMethod','Location','TCAD_ID','CalendarYearIssued','FiscalYearIssued','DayIssued','OriginalState','CouncilDistrict','Jurisdiction'],axis=1,inplace=True)

Build a random forest to predict total square footage on by month and by zip code basis for 2017 in Austin.

In [12]:
dfa['IssuedDate']=pd.to_datetime(dfa['IssuedDate'])

/home/scott/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
dfa.groupby(['IssuedDate','OriginalZip'])['TotalNewAddSQFT'].mean()
tbz=dfa.groupby(['OriginalZip'])['TotalNewAddSQFT'].sum()
tbz.nlargest(55)

OriginalZip
78701.0    106785051.0
78704.0     89346917.0
78758.0     75934839.0
78748.0     70908709.0
78744.0     60277889.0
78705.0     58428844.0
78717.0     55776922.0
78723.0     47604214.0
78703.0     45576134.0
78702.0     45063719.0
78754.0     44069518.0
78741.0     42466443.0
78735.0     39322965.0
78745.0     38277519.0
78753.0     36109552.0
78739.0     31989448.0
78746.0     30379981.0
78747.0     25113074.0
78727.0     23861601.0
78719.0     21481722.0
78660.0     20393027.0
78750.0     19403427.0
78757.0     18863244.0
78759.0     18644096.0
78724.0     18244990.0
78751.0     16217734.0
78731.0     15697374.0
78749.0     14884331.0
78726.0     14559911.0
78729.0     14448575.0
78617.0     14353823.0
78730.0     13884311.0
78732.0     13593914.0
78756.0     13194239.0
78738.0     12644241.0
78613.0     11024245.0
78728.0      8926910.0
78652.0      8890753.0
78736.0      8615565.0
78752.0      8130041.0
78734.0      7255100.0
78721.0      7126195.0
78733.0      6566191.0
78725.0      6271546.0
78722.0      3854372.0
78653.0      2967196.0
78737.0      1468444.0
78742.0       463731.0
78681.0       385017.0
78610.0        17012.0
78641.0         9697.0
78669.0         3500.0
Name: TotalNewAddSQFT, dtype: float64

In [ ]:
dfa.std()

In [19]:
df.shape

(1812269, 66)

In [ ]:
plt.figure(figsize=(15,6))
zip_counts = dfa['OriginalZip'].value_counts()
ax1 = zip_counts.plot(kind='bar');
labels = []
for i, label in enumerate(zip_counts.index):
    labels.append('{} - ({})'.format(label, zip_counts[label]))
ax1.set_xticklabels(labels);
#Downtown - 78701 - had a tenth the *residential* development of 78702; huh.

In [ ]:
plt.figure(figsize=(15,6))
floor_counts = dfa['NumberOfFloors'].value_counts()
ax1 = floor_counts.plot(kind='bar');
labels = []
for i, label in enumerate(floor_counts.index):
    labels.append('{} - ({})'.format(label, floor_counts[label]))
ax1.set_xticklabels(labels);

What the heck is a zero story project?! And two-story projects are half again as common as one-story.

In [ ]:
plt.figure(figsize=(15,6))
desc_counts = dfa['PermitClass'].value_counts()
ax1 = desc_counts.plot(kind='bar');
labels = []
for i, label in enumerate(desc_counts.index):
    labels.append('{} - ({})'.format(label, desc_counts[label]))
ax1.set_xticklabels(labels);

In [ ]:
plt.figure(figsize=(15,6))
jv_counts = dfa['TotalJobValuation'].value_counts()
ax1 = jv_counts.plot(kind='hist');
labels = []
for i, label in enumerate(jv_counts.index):
    labels.append('{} - ({})'.format(label, jv_counts[label]))
ax1.set_xticklabels(labels);
#Most projects are $150k-$250k

In [ ]:
dfa['PermitClass'].unique()

In [ ]:
dfa[dfa['Condominium']=='Yes'].count()

In [ ]:
print(dfa[dfa['Condominium']=='Yes']['TotalNewAddSQFT'].sum())
print(dfa.sort_values('TotalNewAddSQFT', ascending=False))
howmany=dfa['ProjectName'].unique()
howmany.shape

In [ ]:
print(dfa['OriginalZip'].unique())
dfa.sort_values('HousingUnits', ascending=False)

In [ ]:
dfa['TotalNewAddSQFT'].sum()
#Over 1.3 billion square feet; seems low for over a hundred new people per day,
#but a lot of construction is likely unpermitted and many move into Austin metro
#- 4300 square miles and 2 million people, not Austin, 272 square miles and 800K people.

In [ ]:
plt.figure(figsize=(22,11))
plt.ylabel('Latitude')
plt.xlabel('Longitude')
plt.title('Austin new square footage')
plt.scatter(dfa['Longitude'],dfa['Latitude'], s=dfa['TotalNewAddSQFT']/1000,c='g')

In [ ]:
''' This uses the Bokeh package so you will have to make sure it is loaded'''

from bokeh.models import (
   GMapPlot, GMapOptions, ColumnDataSource, Circle, Range1d, PanTool, WheelZoomTool, BoxSelectTool
 )
from bokeh.io import output_file, show, output_notebook
from bokeh.io import export_png



# Uncomment out this line to work within the jupyter notebook.
# If left commented out map should show in new window

output_notebook()

In [3]:
#creating the plot

## Set up the center point zoom and location for a given map
map_options = GMapOptions(lat=30.307182, lng=-97.76, map_type="roadmap", zoom=11)

plot = GMapPlot(
    x_range=Range1d(), y_range=Range1d(), map_options=map_options
)

plot.title.text = "Austin"

'''
This is someone else's API key so you should get your own at https://console.developers.google.com/apis/

You will need to make sure you have set up the permissions and services so you can use this.

I believe you need at least 
Google Maps JavaScript API
Google Static Maps API
Maybe more'''
plot.api_key = "AIzaSyBl6OOSxtxS7qmNgkm6EXdY6MSdVrHW8h4"



'''Here you will pass a list of the locations you want to show on the graph
The lats and longs are broken up into 2 lists'''
completed_lats = dfa['Latitude'].values
completed_longs = dfa['Longitude'].values
size=(dfa['TotalNewAddSQFT'].values**.25)/5


'''Setup for displaying the cordinates'''
completed_source = ColumnDataSource( data=dict(
    lat=completed_lats,
    lon=completed_longs,
    alpha=size))

'''The dots are put together and added to the plot'''
completed_dots = Circle(x="lon", y="lat", size='alpha', fill_color="red", fill_alpha=.5, line_color=None)
plot.add_glyph(completed_source, completed_dots)


'''This line setups up what functionality to allow (zoom etc)'''
plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())

'''Show the map'''
show(plot)
export_png(plot, filename="plot.png")

NameError: name 'GMapOptions' is not defined

In [ ]:
import scipy.stats as scs
import statsmodels.api as sm
pd.plotting.scatter_matrix(dfa, figsize=(15, 10))
plt.show()

In [ ]:
dfa.describe().T